backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.2
certifi==2019.11.28
chardet==4.0.0
colorama==0.4.5
contextlib2==0.6.0.post1
decorator==4.4.2
enum34==1.1.10
futures==3.3.0
idna==2.10
importlib-resources==3.3.1
ipykernel==4.10.0
ipython==4.2.1
ipython-genutils==0.2.0
jparser==0.0.20
jupyter-client==5.3.3
jupyter-core==4.5.0
lxml==4.9.1
pathlib2==2.3.5
pickleshare==0.7.5
pyreadline==2.1
python-dateutil==2.8.1
pywin32==228
pyzmq==19.0.0
requests==2.27.1
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==0.0.0
six==1.16.0
tornado==5.1.1
tqdm==4.64.0
traitlets==4.3.3
typing==3.10.0.0
urllib3==1.26.10
wincertstore==0.2
zipp==1.2.0
